<!--<mat-toolbar color="primary" class="mat-elevation-z6">{{tournament.name}}</mat-toolbar>-->
<div fxLayout="row" fxLayoutAlign="space-around start">

    <div *ngFor="let round of tournament.rounds">
        <p class="div-round" >Round - {{round.roundNo}}</p>

        <div fxLayout="column" fxLayoutAlign="space-around start">
            <div *ngFor="let pairing of round.pairings">
                <p>
                    {{pairing.participant1.participantNo}}. {{pairing.participant1.firstName}}
                    {{pairing.participant1.lastName}}
                </p>
                <p>
                    {{pairing.participant2.participantNo}}. {{pairing.participant2.firstName}}
                    {{pairing.participant2.lastName}}
                </p>
            </div>
        </div>

    </div>

</div>
