<!--<mat-toolbar color="primary" class="mat-elevation-z6">{{tournament.name}}</mat-toolbar>-->

<div class="container">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around start"
         myMatchHeight="round-details">

        <!--round-->
        <div *ngFor="let round of tournament.rounds" class="round"
             [class.highlight-round]="roundToHighlight == round"
             (click)="highlightRound(round, $event)">

            <!--round title-->
            <div class="round-title noselect">{{round.roundName}}</div>

            <!--matchup-->
            <div class="round-details matchup"
                 fxLayout="column" fxLayoutAlign="space-around center">

                <!--pairing-->
                <ul *ngFor="let pairing of round.pairings" class="matchup">
                    <li class="participant noselect"
                        [class.champion]="!pairing.p2"
                        [class.highlight-participant]="pairing.p1.participantId === participantToHighlight?.participantId"
                        (click)="highlightParticipant(pairing.p1, $event)">
                        <span class="participant-name"> {{pairing.p1.name}}</span>
                        <span class="participant-no">{{pairing.p1.participantNo}}</span>
                    </li>
                    <li class="participant noselect" *ngIf="pairing.p2"
                        [class.highlight-participant]="pairing.p2.participantId === participantToHighlight?.participantId"
                        (click)="highlightParticipant(pairing.p2, $event)">
                        <span class="participant-name">{{pairing.p2.name}}</span>
                        <span class="participant-no">{{pairing.p2.participantNo}}</span>
                    </li>
                </ul>

            </div>

        </div>

    </div>
</div>
